*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.gallery{
    display: block;
}
.card{
    display: inline-block;
    width: 250px;
    height: 150px;
    text-align: center;
    margin: 15px;
    padding: 10px;
    border: 1px; hsl(0, 0%, 80%);
    box-shadow: 2px 2px 8px rgba(94, 4, 112, 0.1);
    vertical-align: top;
}